html{-webkit-text-size-adjust:none;font-size:16px;font-family:sans-serif;}
html,body{min-height:100vh;width:100vw;background:#6A7F77;}
html,body,div,pre,h1,p,button,label,select,textarea,svg{margin:0;padding:0;box-sizing:border-box;}
body,div,pre,h1,p,button,select,textarea{font-size:inherit;color:inherit;}
p{margin:0.3em 10px;}
header{grid-area:H;color:#ddd;padding-left:20px;display:flex;align-items:baseline;}
#canvas{grid-area:C;background:#fff;fill:#fff;}
#preOut{grid-area:P;background:#fff;font-size:9px;overflow:auto;}
body{display:grid;
 grid:". . . . ." 20px
      ". C H . ." auto
      ". . . . ." 20px
      ". P P P ." auto
      ". . . . ." 1fr
      / minmax(10px,1fr) auto 20px minmax(300px,auto) minmax(10px,1fr);}
header h1{font-size:1.5em;margin-left:2px;margin-right:auto;color:#ddd;}
header label{margin:0 4px;margin-left:20px;}
header select{
    padding:4px;border-radius:6px;border:2px solid #999;
    font-size:15px;background:#ccc;color:black;margin-right:auto;}
.hide{display:none;}
