html{-webkit-text-size-adjust:none;font-size:18px;font-family:sans-serif;}
html,body{height:100vh;width:100vw;background:#ddd;}
html,body,div,span,h1,h2,p,ol,ul,a,input{margin:0;padding:0;box-sizing:border-box;}
body,div,span,h1,h2,p,ol,ul,input{font-size:inherit;color:inherit;}
h1{display:inline-block;line-height:2em;}
h1,h2{margin:8px 0 3px 3px;font-size:1em;}
ol,ul{padding-left:2.5em;}
.h{visibility:hidden;}
.sm{font-size:0.75em;}
#left,#main,#right{padding:5px 10px;}
p{padding:0 10px;}
main{border:4.5px solid #ccc;}
header{grid-area:H;}
#left{grid-area:L;}
#right{grid-area:R;overflow:auto;border-radius:14px;background:#eee;margin:15px 15px;}
#right p{font-size:14px;line-height:19px;}
footer{grid-area:F;}
main{grid-area:M;overflow:auto;border-radius:14px;background:#fff;}
body{display:grid;grid:". H R" auto "L M R" minmax(11em,2fr) ". F R" 1fr / 1fr minmax(auto,640px) 1fr;}
header{display:flex; align-items:baseline;margin:15px 0px 5px 10px;}
header :first-child{margin-right:auto;}
#connectBtn{
    background:#e66;border:4px solid #e22;
    border-radius:12px;padding:8px;margin:5px;
    font-size:1.1em;
    outline:none;
}
#connectBtn.stopped{background:#8b8;border:4px solid #3b3;}
